/*.font-raiz{
    font-size: 16px;
}

.font-titulo{
    font-family: "Playfair Display", serif;
    font-size: 3rem !important;
    font-weight:700;
}

.font-caption{
    font-family: Playfair Display;
    font-size:2rem !important;
    font-weight:600;
}

.font-subtitulo{
    font-family: Playfair Display;
    font-size:2.5rem;
    font-weight:700;
}

.font-parrafo{
    font-family: Poppins;
    font-size:1.5rem;
    font-weight:400;
}

.font-card{
    font-family: Playfair Dispair;
    font-size: 2.5rem;
    font-weight:500;
}

.font-subtitulo-imagenes{
    font-family: Playfair Dispair;
    font-size: 1.5rem;
    font-weight: 400;
}

.font-nav {
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
}
*/
.font-raiz{
    font-size: 16px;
}

.font-titulo{
    font-family: "Playfair Display", serif;
    font-size: 3rem !important;
    font-weight: 700;
}

.font-caption{
    font-family: "Playfair Display", serif;
    font-size: 2rem !important;
    font-weight: 600;
}

.font-subtitulo{
    font-family: "Playfair Display", serif;
    font-size: 2.5rem;
    font-weight: 700;
}

.font-parrafo{
    font-family: "Playfair Display", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

.font-card{
    font-family: "Playfair Display", serif;
    font-size: 2.5rem;
    font-weight: 500;
}



.font-nav {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 600;
}
.font-footer {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

