.font-raiz{
    font-size: 16px;
}

.font-titulo{
    font-family: Playfair Dispair;
    font-size: 4rem;
    font-weight:700;
}

.font-parrafo{
    font-family: Inter;
    font-size:1rem;
    font-weight:400;
}

.font-imagenes{
    font-family: Playfair Dispair;
    font-size: 2.5rem;
    font-weight:400;
}

.font-subtitulo-imagenes{
    font-family: Playfair Dispair;
    font-size: 1.5rem;
    font-weight: 400;
}

.font-nav {
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
}

