.colorFooter{
    background-color:#0d0c09 !important;
    
}
.colorFooter p {
    margin: 0;
    
}

.texto {
    color: #EBE7D9 !important;
}

.icon-red {
  height: 30%;
  filter: brightness(0) invert(1); /* si tus logos son negros, los vuelve blancos */
  transition: transform 0.2s ease, filter 0.2s ease;
}
.icon-red:hover {
  transform: scale(1.15);
  filter: brightness(1) invert(0); /* efecto hover */
}


