
body {
  background-color: #EBE7D9;
}

* {
    text-align: center;
}

footer {
  margin-bottom: 0;
  padding-bottom: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}





/*Fondo de las imagenes*/
.fondo-menu{
    background-image: url('Multimedia/Imagenes/evento-1440w.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
    height: 100%;
}

.fondo-eventos{
    background-image: url('Multimedia/Imagenes/Eventos/BannerEventos.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
    height: 100%;
}
.fondo-locales {
    background-image: url('Multimedia/Imagenes/ReservaBanner-1440w.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
    height: 30%;
}

/*Banner*/
.banner {
  background-image: url('Multimedia/Imagenes/ReservaBanner-1440w.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.banner-texto {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro translúcido opcional */
  padding: 2rem;
  border-radius: 10px;
}


/*Botones*/
.btn-visitar {
  background-color: #8B3A2B;   /* Color marrón rojizo similar al de la imagen */
  border: none;
  color: white;
  font-weight: 500;
  border-radius: 12px;
  padding: 5px 40px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.btn-visitar:hover {
  background-color: #a34934;  /* tono más claro al pasar el mouse */
}

.btn-separacion{
    letter-spacing: 2px !important;
}




/*Gradiente para el fondo de las imagenes*/
.gradiente {
  background-color: #0007;
  color: white;
  padding: 2rem;
  text-align: center;
}
.gradiente-abajo {
  background: linear-gradient(to top, black,transparent);
  color: white;
  padding: 2rem;
  text-align: center;
}












 /*ESTILOS CARRUSEL*/
#carouselExampleCaptions {
  max-height: 550px;
  overflow: hidden;
} 

#carouselExampleCaptions img {
  object-fit: cover;
  height: 550px;
  filter: brightness(70%);
}

/* Texto del carrusel */
.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
}

.carousel-caption h5 {
  font-size: 2rem;
  font-weight: 600;
  color: #f5f5f5;
  text-shadow: 1px 1px 3px #000;
}

.carousel-caption p {
  font-size: 1rem;
  color: #ddd;
}


.carousel-item img {
  height: 350px;
  object-fit: cover;
}

.carousel-caption h1 {
  font-size: 1.8rem;
}
.carousel-caption p {
  font-size: 1rem;
}


/* Indicadores (los puntitos) */
.carousel-indicators button {
  background-color: #c17f59;
}

/* Botones de navegación */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1) grayscale(100);
}




/*Responsive*/
@media screen and (min-width: 768px ) {
  .fondo-menu{
    height: 900px !important;
  }
  .fondo-eventos{
    height: 900px !important;
  }
}

@media screen and (min-width: 1400px){
  .ventana-completa{
    height: 100vh;
    width: 100vw;
    object-fit:cover;

  } .carousel-caption {
    padding: 0.8rem 1rem;
    bottom: 15%;
  }
  .carousel-caption h5 {
  font-size: 2rem;
  font-weight: 600;
  color: #f5f5f5;
  text-shadow: 1px 1px 3px #000;
}

  .carousel-caption p {
    font-size: 1rem;
  }

}
/*Celulares mas chicos*/
@media screen and (max-width: 480px) {
  .carousel-caption p {
    font-size: 0.8rem;
  }
  .ventana-completa img {
    height: 60vh;
  }
}


