.pad-header{
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #0d0c09 !important;
}

/*logo*/
#logo {
    height: 60px;
}

.navbar-nav .nav-link {
    color: #EBE7D9 !important;
}

.nav-item:hover {
    background-color:#EBE7D9 ;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color:#0d0c09 !important;
}


.navbar-toggler-icon:hover{
    filter:invert(1%);
}

.navbar-toggler-icon {
    filter:invert(100%);
}


#hero{
    min-height: 100vh;
    position: relative;
}

.promo{
    padding-top: 350px;
    width: 60%;
    margin: auto;
    position: relative;
    z-index: 2;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0.5;
    mix-blend-mode: overlay;
}
